@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --grey-1: #141414;
  --grey-2: #1A1A1A;
  --grey-3: #262626;

  --primary-1: #703BF7;
  --primary-2: #A685FA;
}


@layer base {
  :root {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;

    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;

    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;

    --primary: 210 20% 98%;
    --primary-foreground: 220.9 39.3% 11%;

    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;

    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 216 12.2% 83.9%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-[#141414] text-foreground;
  }
}

.soft-bg{
  background: #1A1A1A;
}

.hard-bg{
  background: #141414;
}

nav {
  @apply px-8
}

section, nav{
  @apply  pt-28 px-8 sm:px-12 md:px-16 lg:px-20 
}

.padding{
  @apply p-4 md:p-8 lg:p-16 xl:p-20
  
}

@media (max-width: 768px){
  .menubar{
    @apply flex justify-between items-center gap-4 flex-col fixed top-0 right-0 h-fit bg-[#332b4936] rounded-bl-lg p-20 z-10
  }

  .menubar a{
    @apply ml-0 
  }

  .menuitems{
    @apply flex gap-4 flex-col items-center bg-transparent
  }
  
}

.slide{
  @apply translate-x-[-100%]
}

.menubar{
  @apply flex justify-between items-center gap-4  backdrop-blur-lg 
}

nav a.active {
  @apply text-[--primary]
}

nav button{
  @apply hover:text-black
}

.icon:hover{
  stroke: #141414;
}


.CTA{
  background-image: url("./assets/Abstract Design (1).png"), url("./assets/Abstract Design (2).png"), linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(65,65,65,0) 100%); 
  background-position: left, right;
  background-repeat: no-repeat, no-repeat;
  background-size: contain;
}

p,h1,h2,h3{
  font-family: 'Urbanist', sans-serif;
}


.h1 {
  @apply text-foreground;

  font-size: clamp(28px, 3.5vw, 48px);
  font-weight: 600;
  font-family: 'Urbanist', sans-serif;
  line-height: 110%;
}

.h2{
  @apply text-foreground;

  font-size: clamp(22px, 2.8vw, 32px);
  font-weight: 500;
}

.h3 {
  @apply text-foreground;

  font-size: clamp(16px, 2vw, 20px); 
  font-weight: 400; 
  font-family: 'Urbanist', sans-serif;
  line-height: 120%; 
}


.p {
  @apply text-muted-foreground;

  font-family: 'Urbanist', sans-serif;
  font-size: clamp(14px, 1.25vw, 18px);
  line-height: 140%;
}

.box{
  @apply border border-[#262626] rounded-lg
}

.center{
  @apply flex justify-center items-center
}

.bg-gradient{
  background: linear-gradient(45deg, #262626 -26.82%, rgba(38, 38, 38, 0.00) 40.46%);
}


input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.stylish_border {

  background: linear-gradient(157.81deg, #A685FA -43.27%, #A685FA -21.24%, #A685FA 12.19%, #A685FA 29.82%, #A685FA 51.94%, #A685FA 90.29%);

}

.bg-cool{
  background-image: url(./assets/Abstract_Design.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.befor_icon::before{
  content: url(./assets/three_stare_icon.svg);
  position: absolute;
  top: -26px;
  left: 0;
  background: transparent;
}
